.Cart {
    display: grid;
    grid-template-rows: 0.05fr 1fr;
    grid-template-areas: "cartinfo"
    "prods";
    width: 95vw;
}

.prodContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    background: rgba(155, 45, 45, 0.2);
}

@media screen and (max-width: 850px) {
    .prodContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
 }

@media screen and (max-width: 600px) {
    .prodContainer {
        grid-template-columns: 1fr 1fr;
    }
 }

 @media screen and (max-width: 460px) {
    .prodContainer {
        grid-template-columns: none;
    }
 }